.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .button-home {
    margin-top: 2rem;
    transform: translateX(-20rem);
    cursor: pointer;
    color: #717171;
  }
  &-main-infos {
    display: flex;
    align-items: center;
    flex-direction: column;
    .profile-image {
      margin-top: 2rem;
      border-radius: 100%;
    }
    .profile-name {
      margin-top: 2rem;
      font-size: 2rem;
      font-weight: 700;
    }
    .profile-title {
      font-size: 1.5rem;
      color: #c3c3c3;
    }
  }
  .profile-bar {
    width: 100%;
    height: 0.0625rem;
    margin-top: 3.5rem;
    background-color: #2d2b2b;
  }
}

@media screen and (max-width: 480px) {
  .profile {
    .button-home {
      transform: translateX(0rem);
    }
  }
}
